<div id="answer-view">
  <div class="buttonrow" ng-show="state == 'answers'">
    <button class="textfill btn btn-primary left" ng-click="check('A')"><span>A</span></button>
    <button class="textfill btn btn-primary right" ng-click="check('B')"><span>B</span></button>
  </div>
  <div class="buttonrow" ng-show="state == 'answers'">
    <button class="textfill btn btn-primary left" ng-click="check('C')"><span>C</span></button>
    <button class="textfill btn btn-primary right" ng-click="check('D')"><span>D</span></button>
  </div>
  <div class="loading card" ng-show="state == 'loading'" ng-bind-html-unsafe="status">

  </div>
  <div class="winner card" ng-show="state == 'winner'">
    <h2>You are a winner!</h2>
    <h2>Show this to the presenter within 1 minute to claim your prize.</h2>
    <button class="btn btn-blk" ng-click="refresh()">Refresh</button>
  </div>
  <div class="loser card" ng-show="state == 'loser'">
    <h2>You lost!</h2>
    <h2>Try the next question!</h2>
    <button class="btn btn-blk" ng-click="refresh()">Refresh</button>
  </div>
  <div class="clear"></div>
</div>
<script type="text/javascript">
  window.textFillUpdate();
</script>